$green: #0ad06f;
$light-green: #d1fff7;
$odd: #cee9f0;
$even: #c8ddf0;
$blue: #007fff;
$purple: #673ab7;
$gray: #484848;
$decile: #faedde, #f5d0c7, #f0b1b7, #ea9bbb, #e586c9, #de72df, #b45fda, #824dd4,
  #483bcf, #2a4cca;
$light-primary-text: #fff;
$dark-primary-text: rgb(#000, 0.87);
$font-family: roboto, 'Helvetica Neue', sans-serif;
