@use 'imports' as *;

* {
  font-family: $font-family !important;
}

body {
  margin: 0 !important;
}

.odd {
  @include bg-color('odd', true);
}

.even {
  @include bg-color('even', true);
}

.pointer {
  cursor: pointer;
}
