@use '@angular/material' as mat;
@use 'imports' as *;

/* stylelint-disable-next-line */
@include mat.core();

$my-primary: mat.define-palette(
  (
    100: get-color('green'),
    500: get-color('purple'),
    700: get-color('blue'),
    contrast: (
      100: $dark-primary-text,
      500: $light-primary-text,
      700: $light-primary-text,
    ),
  )
);
/* stylelint-disable */
$my-warn: mat.define-palette(mat.$red-palette, A400);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-primary,
      warn: $my-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: $font-family,
      ),
  )
);
/* stylelint-enable */

@include mat.all-component-themes($my-theme);
