<div class="parent-filter filters">
  <div>
    <div class="filters">
      <app-filter-input
        placeholder="Chercher un auteur"
        [control]="filters.controls.author"
      ></app-filter-input>
      <app-filter-input
        placeholder="Chercher un nom"
        [control]="filters.controls.name"
      ></app-filter-input>
      <app-filter-select
        placeholder="Type"
        [control]="filters.controls.type"
        [options]="types"
      ></app-filter-select>
      <!-- Delete filter -->
      <span class="filter-checkbox">
        <div>Supprimé:</div>
        <mat-checkbox [formControl]="filters.controls.deleted"> </mat-checkbox>
      </span>
    </div>
    <div class="filters">
      <app-filter-select
        placeholder="Catégorie"
        [control]="filters.controls.category"
        [options]="catList"
        [multiple]="true"
      ></app-filter-select>
      <app-filter-year
        placeholder="Année de début"
        [control]="filters.controls.begin"
      ></app-filter-year>
      <app-filter-year
        placeholder="Année de fin"
        [control]="filters.controls.end"
      ></app-filter-year>
      <div
        *ngIf="
          filters.errors?.['invalidYears'] && (filters.touched || filters.dirty)
        "
        class="mat-mdc-form-field-error years-error"
      >
        L'année de fin doit être supérieure à l'année de début
      </div>
      <!-- TOP 10 filter -->
      <span class="filter-checkbox filter-top">
        <div>Top 10:</div>
        <mat-checkbox [formControl]="filters.controls.top"> </mat-checkbox>
      </span>
    </div>
  </div>
  <fa-icon
    class="reset-btn pointer"
    size="3x"
    matRipple
    matRippleColor="var(--purple)"
    [icon]="['fas', 'rotate-right']"
    [matRippleRadius]="35"
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"
    (click)="filters.reset()"
  ></fa-icon>
</div>
<div class="paginator mat-elevation-z4">
  <!-- Paginator -->
  <mat-paginator
    #paginator
    [length]="length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true"
    (page)="page = $event; onPaginateChange()"
  >
  </mat-paginator>
</div>
<!-- Table -->
<mat-table
  class="mat-elevation-z4"
  matSort
  multiTemplateDataRows
  [dataSource]="displayedData"
  [matSortActive]="'sizeF'"
  [matSortDirection]="'desc'"
  (matSortChange)="paginator.firstPage(); sort = $event; onSort()"
>
  <!-- AUTHOR -->
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Auteur</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.author }}
    </mat-cell>
  </ng-container>

  <!-- NAME -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Nom</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.name }}
    </mat-cell>
  </ng-container>

  <!-- TYPE -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Type</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.type | title }}
    </mat-cell>
  </ng-container>

  <!-- CATEGORY -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Categorie</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.category | title: true }}
    </mat-cell>
  </ng-container>

  <!-- SIZE -->
  <ng-container matColumnDef="sizeF">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Taille</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.size }}
    </mat-cell>
  </ng-container>

  <!-- PUBLISH -->
  <ng-container matColumnDef="publish">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Publication</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let fichier">
      {{ fichier.publish }}
    </mat-cell>
  </ng-container>

  <!-- Composition -->
  <ng-container [matColumnDef]="expandedColumn">
    <td
      *matCellDef="let fichier"
      mat-cell
      [attr.colspan]="displayedColumns.length"
      [@compositionExpand]="
        fichier === expandedElement ? 'expanded' : 'collapsed'
      "
    >
      <div class="example-element-detail">
        <ng-container *ngIf="fichier === expandedElement">
          <mat-paginator
            #paginatorComposition
            [length]="expandedElement?.displayedCompoList?.length"
            [pageIndex]="0"
            [pageSize]="50"
            [showFirstLastButtons]="true"
            (page)="pageComposition = $event; onPaginateCompositionChange()"
          >
          </mat-paginator>
          <mat-table
            matSort
            [dataSource]="displayedCompositions"
            [matSortActive]="'rank'"
            [matSortDirection]="'desc'"
            (matSortChange)="
              paginatorComposition.firstPage(); onSortComposition($event)
            "
          >
            <div
              *ngFor="
                let column of displayedColumnsComposition;
                trackBy: trackByFn
              "
            >
              <ng-container [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                  <span class="mat-text">{{ column | titlecase }}</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let compo">
                  <ng-container *ngIf="!['score', 'menu'].includes(column)">
                    {{ compo[column] }}
                  </ng-container>
                  <ng-container *ngIf="column === 'score'"
                    >{{ compo.score | number: '1.0-0':'fr' }}
                    <div [class]="'decile-' + compo.decile">
                      ({{ compo.decile }})
                    </div>
                  </ng-container>
                  <ng-container *ngIf="column === 'menu'">
                    <app-row-menu [composition]="compo"></app-row-menu>
                  </ng-container>
                </mat-cell>
              </ng-container>
            </div>
            <mat-header-row
              *matHeaderRowDef="displayedColumnsComposition"
            ></mat-header-row>
            <mat-row
              *matRowDef="let compoRow; columns: displayedColumnsComposition"
              [appRowAction]="compoRow"
              [isMobile]="!isDesktop"
              [ngClass]="{deleted: compoRow.deleted === 1}"
            >
            </mat-row>
          </mat-table>
        </ng-container>
      </div>
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let element; let i = dataIndex; columns: displayedColumns"
    class="example-element-row"
    [ngClass]="{even: i % 2 === 0, odd: i % 2 === 1}"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expand(element)"
  >
  </mat-row>
  <mat-row
    *matRowDef="let row; let i = dataIndex; columns: [expandedColumn]"
    class="example-detail-row"
    [ngClass]="{even: i % 2 === 0, odd: i % 2 === 1}"
  ></mat-row>
</mat-table>

<app-go-to-top></app-go-to-top>
