{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "ignoreFiles": ["./src/app/styles/font-awesome.min.scss"],
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "max-nesting-depth": 2,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^app-/", "/^ng-/", "/^ng2-/", "/^mat-/"]
      }
    ],
    "function-no-unknown": [true, {"ignoreFunctions": ["nth"]}]
  }
}
