{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-standard-scss"
  ],
  "ignoreFiles": ["./src/app/styles/font-awesome.min.scss"],
  "rules": {
    "declaration-property-value-no-unknown": [
      true,
      {
        "ignoreProperties": {
          "background-color": "/.+/"
        }
      }
    ],
    "color-hex-length": "short",
    "max-nesting-depth": 2,
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^app-/", "/^ng-/", "/^ng2-/", "/^mat-/"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["nth"]
      }
    ]
  }
}
