{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-standard-scss",
    "@stylistic/stylelint-config"
  ],
  "ignoreFiles": ["./src/app/styles/font-awesome.min.scss"],
  "rules": {
    "declaration-property-value-no-unknown": [
      true,
      {
        "ignoreProperties": {
          "background-color": "/.+/",
          "border": "/.+/"
        }
      }
    ],
    "color-hex-length": "short",
    "max-nesting-depth": 2,
    "@stylistic/string-quotes": "single",
    "no-empty-source": null,
    "at-rule-empty-line-before": [
      "always",
      {"except": ["after-same-name", "inside-block"]}
    ],
    "@stylistic/block-closing-brace-newline-after": [
      "always",
      {"ignoreAtRules": ["if", "else"]}
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {"ignorePseudoElements": ["ng-deep"]}
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^app-/", "/^ng-/", "/^ng2-/", "/^mat-/"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["nth", "define-palette", "get-color"]
      }
    ]
  }
}
