@if (menuService.wiki.obs$ | async) {
  @for (btn of buttons; track btn.$implicit.text) {
    @if (isButton) {
      <ng-container *ngTemplateOutlet="button; context: btn"> </ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="menu; context: btn"> </ng-container>
    }
  }
}

<ng-template #menu let-data>
  <button mat-menu-item type="button">
    <div (click)="data.click()">
      <fa-icon [icon]="data.icon"></fa-icon>
      <span>{{ data.text }}</span>
    </div>
  </button></ng-template
>
<ng-template #button let-data>
  <button mat-button mat-dialog-close type="button">
    <div (click)="data.click()">
      <fa-icon [icon]="data.icon"></fa-icon>
      <span>{{ data.text }}</span>
    </div>
  </button></ng-template
>
