<ng-container *ngIf="menuService.wiki.obs$ | async">
  <ng-container *ngFor="let btn of buttons; trackBy: trackByFn">
    <ng-container *ngIf="isButton; else isMenu">
      <ng-container *ngTemplateOutlet="button; context: btn"> </ng-container>
    </ng-container>
    <ng-template #isMenu>
      <ng-container *ngTemplateOutlet="menu; context: btn"> </ng-container>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #menu let-data>
  <button mat-menu-item type="button">
    <div (click)="data.click()">
      <fa-icon [icon]="data.icon"></fa-icon>
      <span>{{ data.text }}</span>
    </div>
  </button></ng-template
>
<ng-template #button let-data>
  <button mat-button mat-dialog-close type="button">
    <div (click)="data.click()">
      <fa-icon [icon]="data.icon"></fa-icon>
      <span>{{ data.text }}</span>
    </div>
  </button></ng-template
>
