@use 'imports' as *;

.tab {
  @include bg-color('lighter-gray');

  border: 1px solid get-color('gray');
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 9;

  .active {
    @include bg-color('gray');
  }

  button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    float: left;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;

    &:hover {
      @include bg-color('light-gray');
    }
  }
}

.tabcontent {
  border-top: 0;

  &:not(.active) {
    display: none;
  }
}
