.tab {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  overflow: hidden;

  .active {
    background-color: #ccc;
  }

  button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    float: left;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;

    &:hover {
      background-color: #ddd;
    }
  }
}

.tabcontent {
  border-top: 0;
}

.tabcontent:not(.active) {
  display: none;
}
