@if (navigationService.tab.obs$ | async; as tab) {
  <div class="tab">
    <button
      type="button"
      [ngClass]="{active: tab === 'Composition'}"
      (click)="navigationService.setTab('Composition')"
    >
      Compositions
    </button>
    <button
      type="button"
      [ngClass]="{active: tab === 'Fichier'}"
      (click)="navigationService.setTab('Fichier')"
    >
      Fichiers
    </button>
  </div>

  <div class="tabcontent" [ngClass]="{active: tab === 'Composition'}">
    <app-list-composition />
  </div>
  <div class="tabcontent" [ngClass]="{active: tab === 'Fichier'}">
    <app-list-fichier />
  </div>
}
