<!-- Compositions Filters -->
<div class="parent-filter filters">
  <div>
    <div class="filters">
      <app-filter-input
        placeholder="Chercher un artiste"
        [control]="filters.controls.artist"
      />
      <app-filter-input
        placeholder="Chercher un titre"
        [control]="filters.controls.title"
      />
      <app-filter-select
        placeholder="Type"
        [control]="filters.controls.type"
        [options]="types"
      />
      <!-- Delete filter -->
      <span class="filter-checkbox">
        <div>Supprimé:</div>
        <mat-checkbox [formControl]="filters.controls.deleted" />
      </span>
    </div>
    <!-- Fichier Filters -->
    <div class="filters">
      <app-filter-input
        placeholder="Chercher un fichier"
        [control]="filters.controls.filename"
      />
      <app-filter-select
        placeholder="Catégorie"
        [control]="filters.controls.category"
        [options]="catList"
        [multiple]="true"
      />
      <app-filter-year
        placeholder="Année de début"
        [control]="filters.controls.begin"
      />
      <app-filter-year
        placeholder="Année de fin"
        [control]="filters.controls.end"
      />
    </div>
    @if (
      filters.errors?.['invalidYears'] && (filters.touched || filters.dirty)
    ) {
      <div class="mat-mdc-form-field-error years-error">
        L'année de fin doit être supérieure à l'année de début
      </div>
    }
  </div>
  <fa-icon
    class="reset-btn pointer"
    size="3x"
    matRipple
    matRippleColor="var(--purple)"
    [icon]="['fas', 'rotate-right']"
    [matRippleRadius]="35"
    [matRippleCentered]="true"
    [matRippleUnbounded]="true"
    (click)="filters.reset()"
  />
</div>
<app-paginator (changed)="onPaginateChange()" />

<!-- Table -->
<mat-table
  class="mat-elevation-z4"
  matSort
  multiTemplateDataRows
  [dataSource]="displayedData"
  [matSortActive]="'score'"
  [matSortDirection]="'desc'"
  (matSortChange)="sort = $any($event); onSort()"
>
  <!-- ARTIST -->
  <ng-container matColumnDef="artist">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Artiste</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      <div
        (click)="switchTab(compo, 'artist'); $event.stopImmediatePropagation()"
      >
        {{ compo.artist }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- TITLE -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Titre</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      {{ compo.title }}
    </mat-cell>
  </ng-container>

  <!-- TYPE -->
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Type</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      {{ compo.type | title }}
    </mat-cell>
  </ng-container>

  <!-- SIZE -->
  <ng-container matColumnDef="displayedFileList">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Taille</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      {{ compo.displayedFileList.length }}
    </mat-cell>
  </ng-container>

  <!-- SCORE -->
  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      <span class="mat-text">Score</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      {{ compo.score | number: '1.0-0' : 'fr' }}
      <div [class]="'decile-' + compo.decile">({{ compo.decile }})</div>
    </mat-cell>
  </ng-container>

  <!-- MENU -->
  <ng-container matColumnDef="menu">
    <mat-header-cell *matHeaderCellDef>
      <span class="mat-text">Menu</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let compo">
      <app-row-menu [composition]="compo" />
    </mat-cell>
  </ng-container>

  <!-- Fichier -->
  <ng-container [matColumnDef]="expandedColumn">
    <td
      *matCellDef="let compo"
      mat-cell
      [attr.colspan]="displayedColumnsComposition.length"
      [@detailExpand]="compo === expandedElement ? 'expanded' : 'collapsed'"
    >
      <div class="example-element-detail">
        <!-- eslint-disable @angular-eslint/template/no-any -->
        @if (compo === expandedElement) {
          <mat-table
            matSort
            [dataSource]="displayedFichier"
            [matSortActive]="'rank'"
            [matSortDirection]="'desc'"
            (matSortChange)="onSortFichier($any($event))"
          >
            <!-- eslint-enable @angular-eslint/template/no-any -->
            @for (column of displayedColumnsFichier; track column) {
              <div>
                <ng-container [matColumnDef]="column">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    <span class="mat-text">{{ column | upperFirst }}</span>
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let fichier"
                    (click)="switchTab(fichier, column)"
                  >
                    {{ fichier[column] | title: true }}
                  </mat-cell>
                </ng-container>
              </div>
            }
            <mat-header-row *matHeaderRowDef="displayedColumnsFichier" />
            <mat-row
              *matRowDef="let fileRow; columns: displayedColumnsFichier"
              [ngClass]="{sorted: fileRow.sorted === 1}"
            />
          </mat-table>
        }
      </div>
    </td>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumnsComposition" />
  <mat-row
    *matRowDef="
      let element;
      let i = dataIndex;
      columns: displayedColumnsComposition
    "
    class="example-element-row"
    [appRowAction]="element"
    [isMobile]="!isDesktop"
    [ngClass]="{
      deleted: element.deleted === 1,
      even: i % 2 === 0,
      odd: i % 2 === 1,
    }"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expand(element)"
  />
  <mat-row
    *matRowDef="let row; let i = dataIndex; columns: [expandedColumn]"
    class="example-detail-row"
    [ngClass]="{
      deleted: row.deleted === 1,
      even: i % 2 === 0,
      odd: i % 2 === 1,
    }"
  />
</mat-table>
<app-paginator class="bottom" (changed)="onPaginateChange()" />

<app-go-to-top />
