@use 'sass:list';
@use 'imports' as *;
@forward 'imports';

/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable selector-class-pattern */

@for $i from 1 through length($decile) {
  .decile-#{$i} {
    background-color: list.nth($decile, $i);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 3px;

    @if $i > 5 {
      @include color('white');
    } @else {
      @include color('dark-gray');
    }
  }
}

@mixin link($name) {
  .cdk-cell.cdk-column-#{$name} {
    text-decoration: underline;
    color: #4550e6;
    font-weight: bold;
    cursor: pointer;
  }
}

.parent-filter {
  gap: 10px;
}

.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

.reset-btn {
  align-self: center;
  @include color('purple');

  ::ng-deep &.mat-ripple-element {
    opacity: 0.1;
  }
}

.years-error {
  float: right;
  width: 424px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

::ng-deep.mat-mdc-paginator-container {
  justify-content: center !important;
}

.filter-checkbox {
  display: flex;
  align-items: center;
  padding: 0 16px;

  &.filter-top {
    padding-bottom: 22px;
  }
}

.mat-mdc-table,
.mat-mdc-paginator,
.paginator {
  width: 100vw;
}

.mat-mdc-table {
  hyphens: auto;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  &:first-of-type {
    padding: 10px !important;
  }

  &:last-of-type {
    padding-right: 0 !important;
  }
}

.mat-mdc-row {
  min-height: 0 !important;

  > td {
    padding: 0 !important;
  }
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  @include bg-color('white', true);
}

.mat-mdc-form-field {
  display: block;

  ::ng-deep#{&}:hover &-focus-overlay {
    opacity: 0 !important;
  }
}

.example-detail-row .mat-mdc-cell {
  border-bottom-style: unset !important;
}

.example-element-detail {
  overflow: hidden;

  .mat-mdc-row {
    border-bottom: solid 2px #0000001f;
  }
}

.example-element-row {
  border-bottom-width: 0;
}

.deleted {
  @include bg-color('green', true);
}

.sorted {
  @include bg-color('light-green', true);
}

@include media($mobile-width) {
  .parent-filter {
    gap: 0;
  }

  .filters {
    flex-direction: column;
  }

  .years-error {
    float: unset;
    justify-content: start;
  }

  .reset-btn {
    margin-bottom: 22px;
  }

  .mdc-data-table__header-cell,
  .mdc-data-table__cell {
    padding: 0 !important;
  }

  .mat-mdc-table,
  .mat-mdc-paginator,
  .paginator {
    width: 100vw;
  }

  .mat-mdc-cell,
  .mat-mdc-footer-cell {
    font-size: 12px;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    &:first-of-type {
      padding-left: 10px !important;
    }
  }

  .example-detail-row {
    mat-cell,
    mat-header-cell {
      /* stylelint-disable-next-line */
      word-wrap: anywhere !important;
    }
  }
}
