@use 'sass:list';
@use 'imports' as *;

/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable selector-class-pattern */

@for $i from 1 through length($decile) {
  .decile-#{$i} {
    background-color: list.nth($decile, $i);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 3px;

    @if $i > 5 {
      color: #fff;
    } @else {
      color: $gray;
    }
  }
}

.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

::ng-deep.mat-mdc-paginator-container {
  justify-content: center !important;
}

.filter-deleted {
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.filter-item {
  display: flex;
  flex-direction: row;

  .clear-btn {
    align-items: center;
    display: flex;
    margin: auto;
  }
}

.mat-mdc-table,
.mat-mdc-paginator,
.paginator {
  width: 100vw;
}

.mat-mdc-table {
  hyphens: auto;
}

.mat-mdc-cell,
.mat-mdc-header-cell {
  &:first-of-type {
    padding: 10px !important;
  }

  &:last-of-type {
    padding-right: 0 !important;
  }
}

.mat-mdc-row {
  min-height: 0 !important;

  > td {
    padding: 0 !important;
  }
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff !important;
}

.mat-mdc-form-field {
  display: block;

  ::ng-deep#{&}:hover &-focus-overlay {
    opacity: 0 !important;
  }
}

.example-detail-row .mat-mdc-cell {
  border-bottom-style: unset !important;
}

.example-element-detail {
  overflow: hidden;

  .mat-mdc-row {
    border-bottom: solid 2px #0000001f;
  }
}

.example-element-row {
  border-bottom-width: 0;
}

.go-top {
  display: flex;
  margin: auto;

  ::ng-deep.fa-angle-up {
    color: $blue;
  }
}

.deleted {
  background-color: $green !important;
}

.sorted {
  background-color: $light-green !important;
}

@include media('800px') {
  .filters {
    flex-direction: column;

    .filter-item .mat-mdc-form-field {
      width: 90vw;
    }
  }

  .mdc-data-table__header-cell,
  .mdc-data-table__cell {
    padding: 0 !important;
  }

  .mat-mdc-table,
  .mat-mdc-paginator,
  .paginator {
    width: 100vw;
  }

  .mat-mdc-cell,
  .mat-mdc-footer-cell {
    font-size: 12px;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    &:first-of-type {
      padding-left: 10px !important;
    }
  }

  .example-detail-row {
    mat-cell,
    mat-header-cell {
      /* stylelint-disable-next-line */
      word-wrap: anywhere !important;
    }
  }
}
