@mixin media($width) {
  @media all and (max-width: $width) {
    @content;
  }
}

$green: #0ad06f;
$light-green: #d1fff7;
$odd: #cee9f0;
$even: #c8ddf0;
$blue: #007fff;
$purple: #673ab7;
$gray: #484848;

$decile: #faedde, #f5d0c7, #f0b1b7, #ea9bbb, #e586c9, #de72df, #b45fda, #824dd4,
  #483bcf, #2a4cca;

* {
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

body {
  margin: 0 !important;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
@each $theme in 'accent', 'primary' {
  ::ng-deep.mat-checkbox {
    &-checked.mat-#{$theme} .mat-checkbox-background,
    &-indeterminate.mat-#{$theme} .mat-checkbox-background,
    &:not(.mat-checkbox-disabled).mat-#{$theme}
      .mat-checkbox-ripple
      .mat-ripple-element {
      background-color: $purple !important;
    }
  }
}

.odd {
  background-color: $odd !important;
}

.even {
  background-color: $even !important;
}
